@charset "utf-8";
/* cssを引き継いだときの余分な設定を元に戻す */
div.screen div.statusBlock *{
	position	: relative;
}

/* main Block */
div.statusBlock{
	display:inline-block;
	width  : 100%;
	vertical-align : top;
}

/* 各フィールドの横幅 */
div.statusBlock .stname {
	display:inline-block;
	/* width: 12%; */
}
div.statusBlock .stid {
	display:inline-block;
	width: 10%;
}
div.statusBlock .ststart {
	display:inline-block;
	width: 10%;
}
div.statusBlock .stlapsed {
	display:inline-block;
	width: 10%;
}
div.statusBlock .stuser {
	display:inline-block;
	width: 12%;
}
div.statusBlock .ststatus {
	display:inline-block;
	width: 8%;
}
