@charset "shift-jis";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td,embed { 
	margin: 0;
	padding: 0;
	border : 0;
}

input {
	margin: 0;
	padding: 0;
	font-size: 13px;
}

a, a:link, a:visited, a:hover, a:active{text-decoration:none}

img, iframe {border:none; text-decoration:none;}

iframe {overflow: hidden;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight :normal;
}
q:before,q:after {
	content: '';
}
abbr,acronym { border: 0;}

html{
/*
 font-family: "MS P Gothic",arial,helvetica,clean,sans-serif;
 font-family: "‚l‚r ‚oƒSƒVƒbƒN",arial,helvetica,clean,sans-serif;
font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','ƒƒCƒŠƒI',Meiryo,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
*/

font-family: '‚l‚r ƒSƒVƒbƒN','ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
 font-size: 13px;
/* line-height: 1.22em;*/
}


