

div.centerBlock{
	display:inline-block;
	width  : auto;

	vertical-align : top;
}

/*user setting*/
.userTable {
    background-color : #131313;
	color            : white;
	}



.tableL{
	float: left;
	width: 30%;
}

.tableHeader .tableL{
	border-right : 2px solid #FFFFFF;
}

.tableData > div{
	height:240px; 
}

.tableL.v_scrl{
	width  : 106%;
	height :240px; 
}

.tableR{
/*	margin-left:30%;*/
}

.tableHeader,
.tableData{
	width: 960px;
	clear: both;
	float: none;
	overflow: hidden;
}

.tableL table{
	width :100%;
}

div.screen div.centerBlock {
    clear: both;
    float: none;
	width:800px;
	overflow: hidden;
}

.btmscreenblock{
	color: #000000;
    clear: both;
    float: none;
}

.fblock{
	padding-top: 1em;
	vertical-align: top;
}

.fblock .button{
	margin-left: 1em;
}

/*nakamoto 20141226 add start*/
.leftBlock .menuBlock{
	vertical-align: top;
	margin-left: 10px;
}

.cmbBlock span,.chkboxBlock span{
    font-size     :15px;
}
/*nakamoto 20141226 add end*/

.tableHeader table th{
	white-space  : nowrap;
	padding-left  : 1em;
}


/*
.h_scrl{
	overflow-x:scroll;
}
*/
.v_scrl{
	overflow-y:scroll;
}

.user_id{
	width: 35%;
}
.user_name{
	width: 65%;
}

.tableR table{
	width   : 640px; /* 列*5 */
}

.tableR th,
.tableR td{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.screen .tableData  tableR table{
	position: absolute;
}
/* add koyama 20160404 */
.pgPermissionArea {
	/* 外側のmarginのぶん戻す */
	margin-top     : 10px;
	margin-left    : -10px;
	margin-right   : 17px;
	padding-left   : 10px;
	padding-bottom : 8px;
	border-style   : solid;
	border-width   : 1px;
	z-index        : 1;
}

.pgPermissionArea *{
	vertical-align : middle;
}

.pgPermissionArea input{
	margin-top    : 1px;
	margin-bottom : 1px;
}


.pgPermissionArea input{
	margin-left  : 8px;
}

.pgPermissionArea>label{
	width   : 3em;
	display : inline-block;
}

.permissionBlock .overText{
	z-index          : 2;
	background-color : rgba(255,255,255,0.5);
}


/*add koyama 20141020*/
.cmbBlock {
	display      :inline-Block;
	width        : 9em;
	margin-left  : 10px;
	margin-bottom: 0.3em;
}

.chkboxBlock {
	display     :inline-Block;
	margin-left : 10px;
}

.cmbBlock>*,.chkboxBlock>*{
	display:inline-block;
}



.cmbBlock label{
	width : 6em;
}

.cmbBlock select{
	width : 6em;
}

/* table setting*/
.userTable td.user_id,
.userTable th.user_id {
	width : 50%;
}

.tableR td,
.tableR th{
	width : 130px;
}


.tableHeader .tableR.h_scrl {
	padding-bottom : 17px;
}

.tableHeader {
}

.wrapTableHeader{
	height : 30px;
	overflow  : hidden;
	border-bottom : 2px solid #FFFFFF;
}
.tableHeader>div{
	height : 30px;
}

.tableDataRow td,
.tableData td{
	padding-left  : 1.5em;
	border-bottom : 1px dashed #999999;
}

.tableDataRow {
	margin-left: 30%;
/*	padding-bottom : 17px;*/
}

.wrapTableL{
	width         : 30%;
	overflow      : hidden;
	float         : left;
	border-right  : 2px solid #FFFFFF;
}

.selectBlock{
	margin-top  : 0.5em;
}

/** dl,dd,dt version **/
.pgPermissionArea dl label{
	display     : inline-block;
	width       : 4em;
}

.pgPermissionArea dl>div{
	margin-bottom  : 0.5em;
}

.pgPermissionArea dl {
	margin-left   : 0.5em;
}

dt {
	font-size     : 15px;
}

dt.first_menu{
	display :inline-block;
	width   :5em;
}

dl dd.first_menu_item{
	display :inline-block;
	font-size     : 15px;
}

.view_menu_item div{
	display       : inline-block;
	width         : 140px;
}
/** dl,dd,dt version **/



