/* 全ての部分 */
body {
	font-size    : 24px;
}

h1{
    font-size:2em;
    margin   : 0.5em
}

label{
	font-size:15px;
}

.inlineBlock {
	display : inline-block;
}

.red {
	color: #FF0000;
	font-weight    : bold;
}

/* ボタン */
.button {
	padding-left: 1em;
	padding-right: 1em;
}

img.verticallist{
	margin-bottom : 1em;
}

img:hover{
	cursor           : pointer;
/*	filter:alpha(opacity=80); */
	opacity:0.8;
	position:relative;
	top:1px;
	left:1px;
}

/* センタリング */
.divCenter{
	margin-bottom : 15px;
	margin-left   : 120px;
	width         : 65%;
}

.divCenter .radioBox{
	width         : 35%;
	margin-left   : auto;
	margin-right  : auto;
}

/* メッセージ */
.massage{
	font-size    : 14px;
	color: #FF0000;
}

.tableStyle{
	width:100%;
	margin-bottom :15px;
	overflow-x    :scroll;
}

/* テーブル */
.table{
	width: 100%;
	border-collapse: collapse;
}
.table th{
	padding: 2px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #8AA3E9;
	border: 1px solid #b9b9b9;
}
.table tr{
	background-color: #CFDDEA;
}
.table tr.odd{
	background-color: #E3EAF2;
}
.table td{
	padding: 2px;
	text-align: left;
	border: 1px solid #b9b9b9;
}








/* 画面全体 */
div.contentbody {
	margin    : 0 auto;
	width     : 41em;
}

/* ログイン関連 */
div.loginform{
	line-height: 3em;
	text-align: center;
	width: 30em;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	font-size:13px;
	font-weight: normal;

}

div.loginform input{
	font-family:Tahoma;
	font-size:13px;
	width: 10em;
	padding: 2px;
}


.inline{
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}


/* 画面上部 */
div.hblock {
	color            : #ffffff;
	font-size        : 24px;
	padding-top      : 0.4em;
	padding-bottom   : 0.4em;
	margin-top       : 20px;
	padding-left     : 7px;
	letter-spacing   : 5px;
	background     : linear-gradient(#6495ed,#0000ff);
}

/* 画面中部 */
div.mblock {
	font-size        : 24px;
	margin-top       : 10px;
	padding-top      : 5px;
	overflow         : hidden; /* 親ボックスでフロート解除します。*/
	background-color : #FFFFFF;
}

/* 画面下部 */
div.fblock{
	font-size        : 14px;
	margin-top       : 20px;
	margin-bottom    : 50px;
	background-color : #9acd32;
}

/* メニュー部分 */
div.menu {
	font-size        : 16px;
	float            : left;
	width            : 100%;
	height           : 25px;
	line-height      : 1.5em;
	margin-bottom    : 15px;
}

div.box {
	width        : 100%;
	height       : 35px;
	border-bottom    :inset 3px #0000ff;
	margin-bottom    : 10px;
}


/* メニュー内のリスト */
div.menu ul {
   list-style       : none;
   display          : inline-block;
}
div.menu li {
   list-style       : none;
   width            : 7.9em;
   display          : inline-block;
   padding-left     : 7px;
   letter-spacing   : 4px;
   margin-right     : 5px;
   border-right     : 2px solid rgba(0,0,0,0.2);
   border-bottom    : 2px solid rgba(0,0,0,0.2);
   background-color : #d3d3d3;
}

div.menu li.selected {
   background-color : #a9a9a9;
}

/* カーソルを合わせた時の色（ページング用） */
div.menu li:hover{
	cursor           : pointer;
	background-color : #ececec;
	position:relative;
	top:1px;
	left:1px;
}

/* メニュー以外の部分 */
div.main {
/*	float: left;*/
	width: 100%;     /* floatの width 指定は必須です。*/
	background-color: #FFFFFF;
}
/* ナビゲート部分 */
div.navigate{
	padding-top     : 10px;
	padding-bottom  : 10px;
	margin-bottom   : 5px;
	font-size       : 14px;
	line-height     : 1.2em;
	background-color: #E3EAF2;
}
/* ナビゲート部分の説明文 */
div.navigate div.description{
	font-size       : 14px;
	margin-left     : 2em;
	margin-bottom   : 0.5em;
	margin-top      : 0.5em;
	line-height     : 1.4em;
}
/* 概要部分 */
div.summary{
	margin-bottom   : 5px;
	line-height     : 1.2em;
	font-size       : 14px;
	background-color: #E3EAF2;
}

/* 画面遷移部分 */
div.transition{
	margin-bottom   : 10px;
	line-height     : 1.2em;
	font-size       : 14px;
	/* background-color: #E3EAF2; */
	display:inline-block;
/*	margin-left   : 5%;
	margin-right  : 0px*/;
}
/* メインコンテンツ全体 */
div.contents{
/*	margin-bottom   : 5px;*/
	line-height     : 1.2em;
	font-size       : 14px;
	background-color: #FFFFFF;
}

div.summaryTitle{
	margin-bottom   : 0.6em;
}


/* 説明文（非表示） */
div.descriptionBonds,
div.descriptionItemNames,
div.descriptionFilters,
div.descriptionSorts{
	display : none;
	margin-bottom   : 0.6em;
	margin-left     : 2em;
	line-height     : 1.2em;
}
div.descriptionCommand,
div.descriptionTables{
	margin-bottom   : 0.6em;
	margin-left     : 2em;
	line-height     : 1.2em;
}


.summaryDisp{
	margin-left   : 2em;
}


/* メインコンテンツ左 */
div.lcontents{
	font-size    : 14px;
	display: inline-block;
/*	width: 40%;*/
	background-color: #FFFFFF;
	vertical-align : top;
/*	margin-left   : 5%;
	margin-right  : 0px;*/
	margin-bottom : 15px;
}


/* メインコンテンツ真中 */
div.ccontents{
	display: inline-block;
	width: 10%;
	background-color: #FFFFFF;
	vertical-align : middle;
	text-align:center;
}

/* メインコンテンツ真中のインプット */
div.ccontents input{
	display : block;
	margin-left  : auto;
	margin-right  : auto;
	margin-bottom : 20px;
	width   : 10em;
	height  : 1.5em;
}

#bondSwitch{
	display : block;
	margin-left  : auto;
	margin-right  : auto;
}

/* メインコンテンツ真中のdiv要素 */
div.ccontents div{
	margin-top  : 6em;
}
.ccontents.user_mod{
	margin-right: 40px;
	margin-left : 40px;
}

/* メインコンテンツ右 */
div.rcontents{
	font-size    : 14px;
	display: inline-block;
	width: 40%;
	background-color: #FFFFFF;
	vertical-align : top;
	margin-bottom : 15px;
}

#modal
,#modal_del{
	font-size : 14px;
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
#modalBody
,#modal_delBody{
	width:420px;
	position:fixed;
	background-color:#ffffff;
}

#modalBody.userSetting{
	width:500px;
}

#modalHeader
,#modal_delHeader{
	height:15px;
	background-color:#4169e1;
}
#modalBody div
,#modal_delBody div{
	margin-bottom : 22px;
}

#modalBody>div
,#modal_delBody>div{
	text-align: center;
}

#modalBody>div>p
,#modal_delBody>div>p{
	margin-bottom
}

#modalBody .form_input input[type="text"]
,#modalBody .form_input input[type="password"]{
	width : 146px;
}

#modalBody.userSetting .form_input input[type="text"]
,#modalBody.userSetting .form_input input[type="password"]{
	width : 172px;
}

#modalBody .form_annotation{
	display : inline-block;
}

#modalBody form {
	width         : 290px;
	margin-left   : auto;
	margin-right  : auto;
}

#modalBody.userSetting form {
	width         : 330px;
}

#modalBody form p{
	margin-bottom  : 20px;
}

.modalButtonArea{
	margin-top    : 30px;
}

/* モーダル（CSV作成用） */
#DLmodal{
	font-size       : 14px;
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
#DLmodalBody{
	width:300px;
	position:fixed;
	background-color:#ffffff;
}

#DLmodalHeader{
	height:15px;
	background-color:#4169e1;
}
#DLmodalBody div{
	text-align: center;
	margin-bottom : 2em;
}

#DLmodalWritingCount,
#DLmodalCount,
#DLmodalWritingPar{
	display: inline-block;
}

div.userList{
	width         : 35%;
	margin-bottom : 0px;
}

div.itemTable {
	width: 63%;
}

div.userItemTable{
	width: 63%;
}

div.lFreeSearchTable{
	width: 40%;
}

div.rFreeSearchTable{
	width: 40%;
}

div.Wide13{
	width: 13%;
}

div.Wide30{
	width: 30%;
}

div.Wide32{
	width: 32%;
}

div.Wide48{
	width: 48%;
}

div.Wide55{
	width: 55%;
}

div.Wide62{
	width: 62%;
}

div.Height150{
	height: 150px;
}

/* プルダウンリスト */
select { width: 10em; }

/* リストの奇数行の色 */
.listElem {
	background-color : #CFDDEA;
}

/* リストの偶数行の色 */
.listElem.odd {
	background-color : #E3EAF2;
}

/* リストにカーソルを合わせた時の色 */
.listElem :hover{
	cursor : pointer;
}

#centerblk #switch:hover,
#centerblk #switchback:hover,
#rightSelectID #add:hover,
#rightSelectID #delete:hover,
.listElem:hover{
	background-color: #EE867F;
}

/* リストを選択したときの色 */
.listElem.select {
	background-color :  #FFFF00;
}


.listElem span,.listHead span{
	border-right:1px solid rgba(0,0,0,0.2);
	padding-left : 1px;
	padding-right: 1px;
	vertical-align : top;
	display:inline-block;
}

.listHead {
	border : groove 1px rgba(0,0,0,0);
	padding-top: 3px;
	padding-bottom : 3px;
	background-color: #8AA3E9;
	font-weight: bold;
}

.listElem .hidden {
	display:none;
}

/* 概要部分（summary用）のテーブル枠線 */
.tableSummary {
	border: 1px #1C79C6 solid;
}
/* 概要部分（summary用）のセルの枠線 */
.tableSummary td,
.tableSummary th{
	border: 1px #1C79C6 solid;
}
/* 概要部分（summary用）のタイトル部分 */

.tableSummary th{
	background-color: #d3d3d3;
}

/* 概要部分（summary用）の幅指定 */
.sListItemName{
	padding-left : 3px;
	width : 8em;
}
.sListTableName,
.sListJapaneseName,
.sListBond{
	padding-left : 3px;
	width : 7em;
}
.sListAndOr,
.sListOperator,
.sListValue{
	padding-left : 3px;
	width : 6em;
}
.sListType,
.listDispPri{
	padding-left : 3px;
	width : 5em;
}

.sListSort,
.sListSize,
.listDisp,
.sListS_point{
	padding-left : 3px;
	width : 3em;
}




/* 下に表示される幅のリスト */
.listBond{
	width : 12em;
}

.Disp_Num{
	width : 5em;
}


.listJapaneseName{
	width : 10em;
}

.rcontents .listJapaneseName,
.lcontents .listJapaneseName{
	width : 8em;
}


.listItemName,
.lListItemName,
.rListItemName{
	width : 8em;
}

.listTableName,
.lListTableName,
.rListTableName{
	width : 6em;
}
.listAndOr,
.listOperator,
.listValue,
.User_Id{
	width : 6em;
}


.listS_point,
.lListS_point,
.rListS_point,
.listType,
.recordNum{
	width : 5em;
}

.listSize,
.lListSize,
.rListSize,
.listSort{
	width : 4em;
}

.Authority_Flg,
.Del_Flg{
	display:inline-block;
	width : 5em;
}


/* 以下リストの文字の配置設定 */
.listType,
.listSort,
.listValue{
	text-indent:5px;
}

.listOperator{
	text-align:center;
}



.leftList,.rightList,.sortList{
	border : groove 1px black;
	background-color :  #FFFFFF;
	overflow-y: scroll;
	height : 220px;
}

.leftListDetail>*{
	display : inline-block;
}

.leftListDetail .itemAdd{
	display       : inline;
	vertical-align: bottom;
	margin-bottom : 0px;
}

.leftListDetail .leftListDetailleft {
	width      : 68%;
}

.leftListDetail .lCandidate_Add {
	width      : 30%;
	text-align : right;
}

.rightListDetail>*{
	display : inline-block;
}

.rightListDetail .itemAdd{
	display       : inline;
	vertical-align: bottom;
	margin-bottom : 0px;
}

.rightListDetail .rightListDetailleft {
	width      : 68%;
}

.rightListDetail .rCandidate_Add {
	width      : 30%;
	text-align : right;
}

/* 結合条件のリストの幅（Listelem spanから上書き） */
.bondListHead span {
	padding-left: 1px;
	padding-right: 1px;
	border-right:1px solid rgba(0,0,0,0.2);
	/* width : 12em; */
}

/* 結合条件のリスト */
.bondList {
	border : groove 1px black;
	background-color :  #FFFFFF;
	overflow-y: scroll;
	height : 80px;
}

/* 結合条件のリスト内のspanタグ */
.bondList span{
	padding-left : 1px;
	padding-right: 1px;
	border-right:1px solid rgba(0,0,0,0.2);
	vertical-align : top;
	/* width : 12em; */
	display:inline-block;
}

/* 抽出条件のリスト */
.filterList {
	border : groove 1px black;
	background-color :  #FFFFFF;
	overflow-y: scroll;
	height : 200px;
}
/* 抽出条件のリスト内のspanタグ */
.filterList span{
	padding-right: 1px;
	padding-left : 1px;
	border-right:1px solid rgba(0,0,0,0.2);
	vertical-align : top;
	display:inline-block;
}

/* 条件タグリストの幅（Listelem spanから上書き） */
.commandListHead span {
	padding-right: 1px;
	padding-left : 1px;
	border-right:1px solid rgba(0,0,0,0.2);
	width : 10em;
}

/* 条件タグリストのリスト */
.commandList {
	border : groove 1px black;
	background-color :  #FFFFFF;
	overflow-y: scroll;
	height : 100px;
}

/* 条件タグリスト内のspanタグ */
.commandList span{
	padding-right: 1px;
	padding-left: 1px;
	border-right:1px solid rgba(0,0,0,0.2);
	vertical-align : top;
	width : 10em;
	display:inline-block;
}


/* 隠し要素 */
.hidden {
	display : none;padding-right: 1px;
}
/* 隠し要素 */
.span .hidden {
	display : none;
}

/* 文字の右寄せ */
.right {
	text-align: right;
}

/* 文字のセンタリング */
.center{
	text-align: center;
}

/* リンクの文字色 */
.link {
    color:#0000ff;
}
.bold{
	font-size    : 16px;
	letter-spacing   : 1px;
	font-weight:bold;
}

/* カーソルを合わせた時の色（ページング用） */
.link:hover{
	cursor : pointer;
}

/* リンクの文字色 */
.pageing {
	color : #0000ff;
}
.pageing2 {
	/* color : #4970AB; */
	color : #ff7f50;
	font-weight: bold;
	font-size    : 16px;
}
p.modalCloseButton,
p.itemUpdateButton,
p.updateButton,
p.modeButton,
p.signButton {
	margin   : 0px;
}


/* 次へ、戻る系リンク */
p.nextButton,
p.backButton,
p.filterButton,
p.csvButton,
p.itemUpdateButton,
p.updateButton,
p.modeButton,
p.delButton,
p.modalCloseButton,
p.modalCloseButton,
p.signButton {
	width          : 100px;
	height         : 20px;
	font-size      : 16px;
	color          : #ffffff;
	font-weight    : bold;
	vertical-align : middle;
	padding-top    : 3px;
	padding-left   : 10px;
	margin-right   : 15px;
	letter-spacing : 0.4em;
	border-right   : 2px solid rgba(1,1,1,0.4);
	border-bottom  : 2px solid rgba(1,1,1,0.4);
	background     : linear-gradient(#6495ed,#0000ff);
	display:inline-block;
}

#modalBody p.modeButton,
#modalBody p.modalCloseButton{
	margin-right   : 10px;
	margin-left    : 10px;
}


p.modalOpenButton {
	width          : 130px;
	height         : 20px;
	font-size      : 16px;
	color          : #ffffff;
	font-weight    : bold;
	vertical-align : middle;
	padding-top    : 3px;
	padding-left   : 10px;
	margin-right   : 15px;
	letter-spacing : 0.2em;
	border-right   : 2px solid rgba(1,1,1,0.4);
	border-bottom  : 2px solid rgba(1,1,1,0.4);
	background     : linear-gradient(#6495ed,#0000ff);
	display:inline-block;
}

p.filterButton{
	width          : 150px;
}


/* カーソルを合わせた時の色（ページング用） */
p.nextButton:hover,
p.backButton:hover,
p.filterButton:hover,
p.csvButton:hover,
p.modalOpenButton:hover,
p.itemUpdateButton:hover,
p.updateButton:hover,
p.modeButton:hover,
p.delButton:hover,
p.modalCloseButton:hover,
p.signButton:hover{
	cursor        : pointer;
	border-right  : 2px solid rgba(1,1,1,0.2);
	border-bottom : 2px solid rgba(1,1,1,0.2);
	background    : linear-gradient(#b0c4de,#4169e1);
	position      : relative;
	top           : 1px;
	left          : 1px;
}

.errorMessage{
	margin     : 10px;
	color      : #ff0000;
	font-size  : 16px;
	text-align : center;
}

.errMessage{
	width          : 100%;

}
div.errMessage{
	margin-bottom   : 5px;
	font-size       : 14px;
	line-height     : 1.2em;
	background-color: #ffc0cb;
}

div.errMessageModal{
	margin-top   : 5px;
	font-size       : 14px;
	line-height     : 1.2em;
	background-color: #ffc0cb;
}

div.successMessage{
	margin-bottom   : 5px;
	font-size       : 14px;
	line-height     : 1.2em;
	background-color: #ccffcc;
}



a.sort {/*リンクされた文字*/
    color:#0000ff;
}
a:link.sort {/*未訪問のリンク*/
    color:#0000ff;
}
a:visited.sort {/*訪問後のリンク*/
    color:#0000ff;
}

.gray{
	background-color: #d3d3d3;
}


.form_label {
	display : inline-block;
	width   : 9em;
}

#modalBody form div{
	text-align:left;
}

#modalBody .form_label{
	width   : 7em;
}

#modalBody.userSetting .form_label{
	width   : 9em;
}


.form_sep {
	margin-right  : 1em;
}

.form_elem {
	margin-top    : 2em;
	margin-bottom : 2em;
}

.inputForm {
	margin-top    : 3em;
	margin-bottom : 3em;
}

.free_search_3{
	margin-top    : 20px;
}
.explain-tooltips {
  position: absolute;
  bottom: 8em;
  left: 13em;
  z-index: 9999;
  padding: 0.3em 0.5em;
  color: #FFFFFF;
  background: #417bdd;
  border-radius: 0.5em;
  margin-right : 10px;
}

#modalDetail #Data_Type{
  position:relative;
}
