@charset "utf-8";
body {
	font-size    : 24px;
}


h1{
    font-size  : 2em;
    margin     : 0.5em;
    background : linear-gradient(#6495ed, #0000ff);
    color: #ffffff;
}

label{
	font-size:15px;
}

div.contentbody {
	/*width        : 972px;*/
	margin    : 0 auto;
	width     : 41em;
}

div.hblock {
	font-size    : 13px;
}

div.mhblock {
	font-size     : 24px;
	margin-top    : 20px;
	vertical-align: top;
}
div.lmhblock {
	margin-top     : 10px;
	width   : 49%;
	display : inline-block;
}
div.rfblock {
	width   : 49%;
	display : inline-block;
}

div.mfblock {
	font-size    : 24px;
	margin-top    : 20px;
}
div.lmfblock {
	margin-top     : 10px;
	margin-left    : 30px;
}

div.fblock{
	font-size     : 13px;
	margin-top    : 20px;
	margin-bottom : 50px;
}

div.lfblock {
	margin-left    : 30px;
}

div.mhblock div.lmhblock {
	height  : 120px;
}
div.mhblock div.rfblock {
	display : inline-block;
	height  : 120px;
}
.fblock  div.rfblock *{
	text-align : right;
}

div.rfblock .lineLeft{
	display : inline-block;
}


div.table{
	width : 100%;
	margin-top    : 5px;
	font-size    : 16px;
}



table{
	width : 100%;
}


tr{
	border-collapse:separate;
	border-spacing:5px;
	border-top: none;
	border-bottom: 1px solid #D3D3D3;
	border-left: none;
	border-right: none;
	border-spacing:5px;
}

tr.header{
	text-align:center;
}

td{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

td.filename{
	width : 55%;
}
td.filename2{
	width : 40%;
}
td.right{
	text-align: right; 
}

.button {
	padding-left: 1em;
	padding-right: 1em;
	/*height   : 35px;*/
	/*width    : 80px;*/
}

input.filename{

	width : 95%;
	height: 100%;
	font-size: 100%;
}

.mhblock>*{
	display       :inline-block;
	vertical-align: bottom;
}

.massage{
	font-size      : 80%;
	width          : 300px;
	margin-left    : 30px;
}

a.sort {/*リンクされた文字*/
    color:#0000ff;
}
a:link.sort {/*未訪問のリンク*/
    color:#0000ff;
}
a:visited.sort {/*訪問後のリンク*/
    color:#0000ff;
}



