@charset "utf-8";
/* cssを引き継いだときの余分な設定を元に戻す */
div.screen div.statusBlock *{
	position	: relative;
}

/* main Block */
div.statusBlock{
	display:inline-block;
	width  : 100%;
	vertical-align : top;
}
div.statusBlock div{
	margin-bottom:0.5em;
}
div.statusBlock div.header{
	border-bottom-width: medium;
	border-bottom-style:solid;
}

div.statusBlock div.footer{
	position: absolute;
	bottom:0;
	width: 100%;
	border-top-width: medium;
	border-top-style:solid;
}
div.statusBlock div.footer span{
	display:block;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* 各フィールドの横幅 */
div.statusBlock .stname {
	display:inline-block;
	/* width: 12%; */
}
div.statusBlock .stid {
	display:inline-block;
	width: 10%;
}
div.statusBlock .ststart {
	display:inline-block;
	width: 15%;
}
div.statusBlock .stlapsed {
	display:inline-block;
	width: 10%;
}
div.statusBlock .stuser {
	display:inline-block;
	width: 10%;
}
div.statusBlock .ststatus {
	display:inline-block;
	width: 8%;
}
div.statusBlock .stnum{
	display:inline-block;
	width: 6%;
}

div.statusBlock .sttbname{
	display:inline-block;
	padding-left: 1em;
	width: 15%;
}
div.statusBlock .stlocktime{
	display:inline-block;
	width: 26%;
}
div.statusBlock .stpgname{
	display:inline-block;
	width: 24%;
}

.button.page_num,
.button.page_change {
	width : 30px;
}
